html { 
    scroll-behavior: smooth;
}

body {
    color: whitesmoke;
    background-image: url("images/background.jpg");
    font-family: Verdana;
    font-size: 1.05em;
}

h1, h3, h4, p {
    padding-left: 2%;
}

h1 {
    margin-bottom: 25px;
}

nav li {
    list-style: none;
}

main {
    margin-left: 25%;
    margin-right: 5%;
    margin-top: 35px;
    background-color: #4d4e4f;
    border: solid #41a2c9;
    border-width: 5px;
    overflow: hidden;
}

table, th, td {
    border: 2px solid #2979ce;
    border-collapse: collapse;
    background-color: #6b6c6d
}

table {
    width: 90%;
    margin: 0 auto;
}

th, td {
    padding: 6px 1%;
}

#progressbar {
    background-color: #6b6c6d;
    border-radius: 13px;
    margin: 5% auto;
    padding: 6px;
    width: 90%;
}
  
#progressbar div {
    background-color: #57bce4;
    width: 25%;
    height: 20px;
    border-radius: 10px;
    text-align: center;
}

#progressbar p {
      margin: 0 0;
}

#page-title {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
}

.url {
    color: #2979ce;
    padding-left: 2%;
    text-decoration: none;
}

.url:hover {
    color: whitesmoke;
    padding-left: 2%;
    text-decoration: none;
}

.inlineUrl {
    color: #2979ce;
    text-decoration: none;
}

.inlineUrl:hover {
    color:whitesmoke;
    text-decoration: none;
}

.image,
.image-resized,
.image-resized-turned-clockwise,
.image-resized-turned-counterclockwise  {
    border: 3px solid #41a2c9;
    margin: 10px 30px;
}

.image-resized,
.image-resized-turned-clockwise,
.image-resized-turned-counterclockwise {
    width: 60%;
    height:auto;
}

.image-resized-turned-clockwise {
    transform: rotate(270deg);
    margin: 10% 30px;
}

.image-resized-turned-counterclockwise {
    transform: rotate(90deg);
    margin: 10% 30px;
}

.create-distance {
    margin: 5% 0;
}

.easter-egg {
    border: 7px solid #41a2c9;
    margin: 40px 3%;
}

.easter-egg:hover {
    animation-name: easter-egg;
    animation-duration: 1s;
    animation-delay: 0.1s;
}

@keyframes easter-egg {
    from {
        border: 7px solid #41a2c9;
        margin: 40px 3%;
    }
    to {
        border: 7px solid lime;
        margin: 40px 60%;
    }
}

.head {
    background-color: #4d4e4f;
    width: 90%;
    height: 104px;
    padding-bottom: 20px;
    margin: 20px auto;
    border: solid #41a2c9;
    border-width: 5px;
    overflow: hidden;
}

.head-button {
    display: inline-block;
}

.sidebar {
    background-color: #4d4e4f;
    border: solid #41a2c9;
    border-width: 5px;
    height: 700px;
    margin: 16px 5%;
    padding: 10px;
    position: fixed;
    width: 15%;
    text-align: center;
    overflow: hidden;
}

.sidebar a {
    color: whitesmoke;
    text-decoration: none;
}

.sidebar a:hover {
    color: #2979ce;
    text-decoration: none;
}

.row {
    margin: 3% 4%;
    display: inline-block;
}

.head-button a:hover,
.head-button a {
    text-decoration: none;
    color: whitesmoke;
    border: solid #2979ce;
    border-width: 3px;
    margin: 0 20px;
    padding: 0 20px;
}

.head-button a:hover {
    background-color: #2979ce;
}

.column-one {
    width: 24%;
}

.column-two {
    width: 49%;
}

.column-three{
    width: 8%;
}

.column-four {
    width: 19%;
}

.checkmark {
    text-align: center;
}